
@media (max-width: 2560px){
    .contain-form{
        font-size: 1.3em;
        text-align: center;
        width: 100vw;
    }
    .form{
        height: 340px;
        border-radius: 5px;
        display: block;
        border: none;
        margin: 50px auto 0;
    }
    .input-item{
        font-size: 1.3em;
        display: block;
        margin: 0 auto 10px;
    }
    .account{
        color: #8B2F20;
        font-size: 1.3em;
        text-decoration: none;
        cursor: pointer;
    }
    .submit{
        display: block;
        margin: 20px auto 20px;
        color: #8B2F20;
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid #8B2F20;
        border-radius: 3px;
        display: block;
        padding: 3px 5px;
        font-size: 1.3em;
    }
    .submit:hover{
        color: black;
        border: 1px solid black;
        
    }
    .input-item{
        display: block;
        margin: 0 auto 10px;
    }

}
@media (max-width: 1400px){
    .contain-form{
        text-align: center;
        font-size: 1em;
    }
    .form{
        height: 340px;
        border-radius: 5px;
        display: block;
        border: none;
        margin-top: 50px auto 0;
    }
    .input-item{
        display: block;
        margin: 0 auto 10px;
    }
    .account{
        color: #8B2F20;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
    }
    .submit{
        display: block;
        margin: 20px auto 20px;
        color: #8B2F20;
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid #8B2F20;
        border-radius: 3px;
        display: block;
    }
    .submit:hover{
        color: black;
        border: 1px solid black;
        
    }
    .input-item{
        display: block;
        margin: 0 auto 10px;
    }

}
