/* .character-img{
    height: 254px;
    width: 365px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.person-name{
    text-align: center;
    color: #8B2F20;
} */
/* .character-description{
    margin-top: 10px;
    font-size: 20px;
} */
/* .loader{
    margin-left: auto;
    margin-right: auto;
    width: 6em
} */
@media (max-width: 2560px){
    .character-slider{
        width: 65vw;
        margin: 0 auto 10px;
    }
    .character-img{
        width: 30vw;
        height: 50vh;
        border-radius: 10px;
        display: block;
    }
    .character-description{
        font-size: 1.8em;
        text-align: center;
        margin: 0 auto;
        width: 65vw;
    }
    .person-name{
        text-align: center;
        color: #8B2F20;
        font-size: 1.7em;
    }
}
@media (max-width: 1400px){
    .character-slider{
        width: 85vw;
        margin: 0 auto 10px;
    }
    .character-img{
        width: 30vw;
        height: 50vh;
        border-radius: 10px;
        display: block;
    }
    .character-description{
        font-size: 1.8em;
        text-align: center;
        margin: 0 auto;
        width: 85vw;
    }
    .person-name{
        text-align: center;
        color: #8B2F20;
        font-size: 1.7em;
    }
}


@media (max-width: 720px){
    .character-img{
        width: 30vw;
        height: 27vh;
        border-radius: 10px;
        display: block;
    }
    .character-description{
        font-size: 0.9em;
        width: 80vw;
    }
    .person-name{
        font-size: 1em;
    }

}
/* @media (max-width: 320px){
    .character-slider{
        width: 315px;
        margin: 0 auto 10px;
    }
    .character-img{
        width: 100px;
        height: 155px;
        border-radius: 10px;
        display: block;
    }
    .character-description{
        font-size: 18px;
        text-align: center;
        width: 320px;
    }
    .person-name{
        text-align: center;
        color: #8B2F20;
    }
} */
