
.favorite-img{
    height: 250px;
}
.favorite-name{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.favorite-name:hover{
    color: #8B2F20;
    text-decoration: underline;
}

.warn-fav{
    text-align: center;
    color:#8B2F20;
}
/* @media (max-width: 490px){
    .favorites{
        display: grid;
        grid-template-columns: repeat(2, 220px);
        width: 400x;
        margin: 0 auto;
        gap: 20px;
        margin-left: 350px;
    }
    .warn-fav{
        width: 490px;
        margin-left: 350px;
        text-align: center;
        color:#8B2F20;
    }
} */
@media (max-width: 2560px){
    .favorites{
        display: grid;
        grid-template-columns: repeat(6, auto);
        width: 100vw;
        gap: 10px;
        margin-top: 15px;
    }
    .favorite-top{
        width: 33vw;
    }
    .favorite-star{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 30%);
        font-size: 28px;
    }
    .favorite-item{
        position: relative;
        text-align: center;
        width: 15vw;
        height: 610px;
        margin: 20px auto;
    }
    .favorite-name{
        font-size: 2.5em;
    }
    .favorite-img{
        width: 10vw;
        height: 30vh;
    }
    .favorite-top{
        width: 15vw;
    }
}
@media (max-width: 1400px){
    .favorites{
        display: grid;
        grid-template-columns: repeat(5, auto);
        width: 100vw;
        gap: 10px;
        margin-top: 15px;
    }
    .favorite-star{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 00%);
        font-size: 22px;
    }
    .favorite-item{
        position: relative;
        text-align: center;
        width: 15vw;
        height: 340px;
        margin: 0 auto;
    }
    .favorite-name{
        font-size: 20px;
    }
    .favorite-top{
        width: 15vw;
    }
    .favorite-img{
        width: 13vw;
    }
}
@media (max-width: 1280px){
    .favorites{
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 100vw;
        gap: 10px;
        margin-top: 10px;
    }
    .favorite-star{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 40%);
        font-size: 22px;
    }
    .favorite-item{
        position: relative;
        text-align: center;
        height: 40vh;
        width: 19vw;
        margin: 0 auto;
    }
    .favorite-name{
        font-size: 20px;
    }
    .favorite-top{
        width: 19vw;
    }
    .favorite-img{
        width: 15vw;
    }
}
@media (max-width: 960px){
    .favorites{
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 90vw;
        margin: 10px auto;
        gap: 10px;
        margin-top: 10px;
    }
    .favorite-star{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 00%);
        font-size: 22px;
    }
    .favorite-item{
        position: relative;
        text-align: center;
        height: 310px;
        width: 30vw;
    }
    .favorite-img{
        width: 25vw;
    }
    .favorite-top{
        width: 30vw;
    }
}
@media (max-width: 720px){
    .favorites{
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 90vw;
        gap: 10px;
    }
    .favorite-star{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 00%);
        font-size: 22px;
    }
    .favorite-item{
        position: relative;
        text-align: center;
        width: 39vw;
        height: 310px;
        margin: 0 auto;
    }
    .favorite-img{
        width: 35vw;
        display: block;
        margin: 0 auto;
    }
    .favorite-top{
        width: 39vw;
    }

}
@media (max-width: 480px){
    .favorites{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 20px;
    }
    .favorite-star{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 00%);
        font-size: 22px;
    }
    .favorite-item{
        position: relative;
        text-align: center;
        height: 310px;
    }
    .favorite-img{
        width: 35vw;
        display: block;
        margin: 0 auto;
    }
}
@media (max-width: 320px){
    .favorites{
        display: grid;
        grid-template-columns: repeat(1, auto);
        width: 310px;
        gap: 20px;
        margin-top: 10px;
    }
    .favorite-item{
        position: relative;
        text-align: center;
        height: 49vh;
        width: 55vw;
        margin: 0 auto;
        border-bottom: 1px solid #8B2F20;
        border-radius: 10px;
        padding: 0 5px;
    }
    .favorite-img{
        width: 55vw;
        display: block;
        margin: 0 auto;
    }
}