
.App{
    width: 100vw;
}
.html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
input{
    margin: 0;
    padding: 0;
}

.type-home{
    color: #bd4330;
}
.name-item{
    font-weight: bold;
    font-size: 18px;
    word-break: break-all;
    color: #8B2F20;
    cursor: pointer;
    text-decoration: none;
}


li.selected{
    background-color: #8B2F20;
    color: #ffffff;
    border-radius: 5px;
} 
.chapters{
    color: #8B2F20;
}
@media (max-width: 2560px){
    .search-input{
        margin: 0 auto 15px;
        display: block;
        border: none;
        outline:none;
        font-size: 2em;
        border-bottom: 1px solid #bd4330;
        border-radius: 10px;
        padding: 3px 6px;
        width: 60vw;
    }
    .select{
        margin: 0 auto 20px;
        display: block;
        outline:none;
    }
    .contain-items{
        display: grid;
        width: 90vw;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 18px;
        grid-row-gap: 10px;
        margin: 0 auto;
        justify-content: center;
    }
    .contain-item{
        padding: 3px;
        display: flex;
        height: 370px;
        width: 22vw;
        position: relative;
        font-size: 1.3em;
    }
    .img-item{
        height: 350px;
        width: 11vw;
    }
    .favorit{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 25px;
        transition: 0.5s ease;
    }
    .favorit:hover{
        font-size: 28px;
    }
    .description-item{
        margin-left: 5px;
    }
    .genres{
        display: flex;
        color: rgb(56, 56, 56);
        margin-bottom: -15px;
    }
    .genre{
        margin-right: 0.8vw;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: rgb(231, 230, 230);
    }
    .genre:hover{
        background-color: rgb(196, 196, 196);
        transition: 0.5s ease;
    }
    .score-home{
        font-size: 2em;
        color: #8B2F20;
    }
}
@media (max-width: 1480px){
    .search-input{
        margin: 0 auto 15px;
        display: block;
        font-size: 1em;
        border: none;
        outline:none;
        border-bottom: 1px solid #bd4330;
        border-radius: 10px;
        padding: 3px 6px;
        width: 60vw;
    }
    .select{
        margin: 0 auto 20px;
        display: block;
        outline:none;
    }
    .contain-items{
        display: grid;
        width: 90vw;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 18px;
        grid-row-gap: 10px;
        margin: 0 auto;
        justify-content: center;
    }
    .contain-item{
        padding: 3px;
        display: flex;
        margin-bottom: 15px;
        width: 29vw;
        position: relative;
        font-size: 1.1em;
        height: 230px;
    }
    .img-item {
        height: 220px;
        width: 13vw;
    }
    .favorit{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 25px;
        transition: 0.5s ease;
    }
    .favorit:hover{
        font-size: 28px;
    }
    .description-item{
        margin-left: 5px;
    }
    .genres{
        display: flex;
        color: rgb(56, 56, 56);
        margin-bottom: -15px;
    }
    .genre{
        margin-right: 0.8vw;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: rgb(231, 230, 230);
    }
    .genre:hover{
        background-color: rgb(196, 196, 196);
        transition: 0.5s ease;
    }
    .score-home{
        font-size: 1.1em;
        color: #8B2F20;
    }
}
@media (max-width: 1000px){

    .contain-items{
        margin: 0 auto;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 18px;
        grid-row-gap: 10px;
        justify-content: center;
    }
    .contain-item{
        padding: 3px;
        display: flex;
        height: 200px;
        width: 41vw;
        position: relative;
    }
    .img-item{
        height: 190px;
        width: 15vw;
    }
    .favorit{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 25px;
        transition: 0.5s ease;
    }
    .favorit:hover{
        font-size: 28px;
    }
    .description-item{
        margin-left: 5px;
    }
    .genres{
        display: flex;
        color: rgb(56, 56, 56);
        margin-bottom: -15px;
    }
    .genre{
        margin-right: 15px;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: rgb(231, 230, 230);
    }
    .genre:hover{
        background-color: rgb(196, 196, 196);
        transition: 0.5s ease;
    }
    .score-home{
        font-size: 1.1em;
        color: #8B2F20;
    }

}
@media (max-width: 720px){
    .search-input{
        font-size: 0.85em;
    }
    .contain-items{
        display: block;
        width: 90vw;
        margin: 0 auto;
    }
    .contain-item{
        display: block;
        border-bottom: 1px solid #8B2F20;
        border-top: 1px solid #8B2F20;
        border-radius: 5px;
        padding: 1.5vh 1vw;
        text-align: center;
        position: relative;
        height: 550px;
        width: 90vw;
        margin-bottom: 10px;
    }
    .img-item{
        height: 50vh;
        width: 55vw;
        display: block;
        margin: 0 auto 10px;
    }
    .genres{
        display: block;
        color: rgb(56, 56, 56);
    }
    .genre{
        margin: 10px auto 5px;
        width: 150px;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: rgb(231, 230, 230);
    }
    .genre:hover{
        background-color: rgb(196, 196, 196);
        transition: 0.5s ease;
    }
    .favorit{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
    }
    .score-home{
        font-size: 1em;
        color: #8B2F20;
    }
}

