 .navigate-footer-item{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    display: inline;
}
.navigate-footer-item:hover{
    color: #8B2F20;
    text-decoration: underline;
}
/*.navigate-footer.container{
    width: 1200px;
}
.navigate-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}*/
@media (max-width: 2560px){
    .navigate-footer{
        width: 90vw;
        text-align: center;
        margin: 10px auto 0;
    }
    .navigate-footer-item{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5em;
        padding: 3px 15px;
    }
}
@media (max-width: 1400px){
    .navigate-footer{
        width: 90vw;
        text-align: center;
        margin: 10px auto 0;
    }
    .navigate-footer-item{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3em;
        padding: 3px 5px;
    }
}
@media (max-width: 1280px){
    .navigate-footer{
        width: 90vw;
        text-align: center;
        margin: 10px auto 0;
    }
    .navigate-footer-item{
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.9em;
        padding: 3px 5px;
    }
}
@media (max-width: 480px){
    .navigate-footer-item{
        font-size: 0.63em;
    }
}
/* @media (max-width: 480px){
    html{
        width: 480px;
    }
    .App{
        width: 480px;
        margin: 0 auto;
    }
    .navigate-footer.container{
        width: 480px;
        justify-content: space-around;
    }
} */

