.navigate-footer-item{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    display: inline;
}
.navigate-footer-item:hover{
    color: #8B2F20;
    text-decoration: none;
    margin-right: 20px;
}
.navigate-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
@media (max-width: 767px){
    .navigate-footer.container{
        justify-content:center;
    }
}
