.pagination li{
    display: inline-block;
    margin-right: 10px;
    padding: 2px 5px;
    color: #8B2F20;
    cursor: pointer;
}
.pagination li:hover{
    background-color: #8B2F20;
    color: #ffffff;
    border-radius: 5px;
}

li.selected{
    background-color: #8B2F20;
    color: #ffffff;
    border-radius: 5px;
}
ul.pagination{
    width: 80vw;
    justify-content: left;
}
