.manga-img-item{
    height: 320px;
    width: 225px;
    margin-right: 20px;
}
.manga-item{
    border-radius: 20px;
    width: 1200px;
    margin: 30px auto 0;
}
.manga-item-content{
    display: flex;
}
.name{
    font-size: 20px;
    margin-bottom: 3px;
    color: #8B2F20;
}
.score{
    color: #8B2F20;
}
.status{
    font-size: 18px;
}
.year{
    color: rgb(112, 77, 77);
    margin-bottom: 8px;
}
.type{
    display: flex;
    margin-bottom: 3px;
}
.type-item{
    margin-right: 20px;
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(56, 56, 56);
    background-color: rgb(231, 230, 230);
}
.type-item:hover{
    background-color: rgb(196, 196, 196);
    transition: 0.5s ease;
}
.description{
    font-weight: bold;
    font-size: 19px;
}
.description-title{
    line-height: 1.2;
    font-size: 19px;
}
.more{
    font-size: 20px;
    display: block;
    margin: 25px auto 20px;
    transition: 0.5s ease;
    color: rgb(175, 117, 8);
    cursor: pointer;
    padding: 2px 7px;
    background-color: #ffffff;
    border: 1px solid #8B2F20;
    border-radius: 5px;
}
.more:hover{
    color: rgb(218, 144, 8);
    border-radius: 10px;
}
.character-text{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 15px;
}
.more-info{
    font-size: 19px;
    margin: 0 0 20px 0;
}
.characters{
    display: grid;
    /* grid-template-columns: repeat(4, 300px); */
    grid-template-columns: repeat(6, 200px);
    margin: 0 auto;
    row-gap: 20px;
    text-align: center;
}
.img-character{
    height: 250px;
    width: 185px;
}
.character-name{
    color: #8B2F20;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
.character-name:hover{
    color: #c75b4a;
    text-decoration: underline;
}
.character-first-name{
    margin-bottom: 4px;
}
.card{
    text-align: center;
}
.recomendation-img{
    height: 230px;
    display: block;
    margin: 0 auto;
}
.slider{
    width: 1000px;
    display: block;
    margin: 20px auto 0;
}
.slick-dots{
    margin-bottom: 5px;
}
.another{
    margin-top: 10px;
    font-size: 20px;
    color: #8B2F20;
    text-align: center;
}