.pagination li{
    display: inline-block;
    margin-right: 10px;
    padding: 2px 5px;
    color: #8B2F20;
    cursor: pointer;
}
.pagination li:hover{
    background-color: #8B2F20;
    color: #ffffff;
    border-radius: 5px;
}

li.selected{
    background-color: #8B2F20;
    color: #ffffff;
    border-radius: 5px;
}
.navigate-footer-item{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
}
.navigate-footer-item:hover{
    color: #8B2F20;
    text-decoration: none;
    margin-right: 20px;
}
.navigate-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}