.bodyPage{
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 230px;
}
.backImage{
  width: 100%;
  height: 600px;
  top: 25px;
  right: 0;
  position: absolute;
  object-fit: cover;
}
.wrap{
  width: 100%;
  height: 150px;
  position: absolute;
  top: 475px;
  background: linear-gradient(rgb(209, 53, 49, 0), rgb(24, 24, 24));
}
.containTitle{
  width: 1200px;
  margin: 0 auto 0;
  background-color: rgb(48, 44, 44);
  position: relative;
  border-radius: 10px 10px 0 0;
}
.up{
  display: flex;
  height: 250px;
}
.starIcon{
  color: yellow;
  font-size: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.img{
  position: absolute;
  left: 40px;
  top: -40px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 5px rgba(255, 255, 255, 0.2);
  height: 280px;
}
.containImg{
  width: 250px;

}
.infoTitle{
  color: white;
}
.title{
  margin-top: 10px;
  font-size: 25px;
}
.genres{
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}
.genre{
  border: 1px  solid white;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.genre:hover{
  transform: scale(1.05);
  border: 1px  solid rgb(255, 179, 0);
  color: rgb(255, 179, 0);
}
.synopsis{
  word-break:keep-all;
  width: 925px;
}
.down{
  display: flex;
  color: white;
  height: 350px;
}
.left{
  margin: 20px 10px 0px 40px;
}
.card{
  border: 2px solid rgb(115, 115, 115);
  border-radius: 5px;
  padding: 4px 5px;
  width: 200px;
  background-color: rgb(27, 22, 22);
  color: rgb(237, 237, 237);
}
.cardItem{
  padding: 7px 8px;
  border-radius: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}
.cardItem:hover{
  background-color: rgb(61, 61, 61);
}
.right{
  width: 920px;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 20px;
}
.slider{
  width: 800px;
  margin: 0 auto;
}
.cardItemRec{
  width: 180px;
  justify-content: center;
  max-width: 180px;
  cursor: pointer;
  outline: none;
  border: none;
  user-select: none;
}
.sliderImg{
  width: 180px;
  height: 220px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.cardTitleRec{
  text-align: center;
  color: white;
}
.cardTitleRec:hover{
  color: rgb(255, 179, 0);
}
.type{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
.typeItem{
  cursor: pointer;
  padding: 2px 8px;
}
.typeItemActive{
  color: rgb(255, 179, 0);
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 179, 0);
  padding: 2px 8px;
  border-radius: 2px;
}
@media (max-width: 1024px) {
  .containTitle{
    width: 1000px;
  }
  .slider{
    width: 650px;
    margin: 0 auto;
  }
  .cardItemRec{
    width: 135px;
    justify-content: center;
    max-width: 180px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
  }
  .sliderImg{
    width: 135px;
    height: 175px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .synopsis{
    width: 730px;
  }
}
@media (max-width: 768px) {
  .containTitle{
    width: 730px;
  }
  .slider{
    width: 400px;
    margin: 0 auto;
  }
  .up{
    margin-bottom: 120px;
  }
  .cardItemRec{
    width: 145px;
    justify-content: center;
    max-width: 180px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
  }
  .sliderImg{
    width: 145px;
    height: 185px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .synopsis{
    width: 440px;
  }
}

@media (max-width: 480px) {
  .containTitle{
    width: 450px;
    height: 1150px;
  }
  .slider{
    width: 400px;
    margin: 0 auto;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
  }
  .genres{
    margin: 12px auto;
    text-align: center;
    justify-content: center;
  }
  .up{
    display: block;
    margin-bottom: 400px;
    text-align: center;
    padding: 260px 10px 0 10px;
  }
  .cardItemRec{
    width: 145px;
    justify-content: center;
    text-align: center;
    max-width: 180px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
  }
  .sliderImg{
    width: 145px;
    height: 185px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  .synopsis{
    width: 440px;
    height: 300px;
    overflow-y: auto;
  }
  .type{
    width: 420px;
  }
  .down{
    display: block;
  }
  .right{
    width: 400px;
  }
  .img{
    position: absolute;
    left: 120px;
    top: -40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 5px rgba(255, 255, 255, 0.2);
    height: 280px;
  }  
  .card{
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  
  .containTitle{
    width: 300px;
    height: 1350px;
  }
  .synopsis{
    width: 285px;
  }
  .up{
    margin-bottom: 560px;
  }
  .type{
    width: 260px;
    margin: 0 auto;
    font-size: 12px;
  }
  .img{
    position: absolute;
    left: 50px;
    top: -40px;
    height: 280px;
  }  
  .slider{
    width: 280px;
    margin: 0 auto;
    margin-left: 10px;
  }
  .right{
    width: 280px;
  }
  .cardItemRec{
    width: 165px;
    justify-content: center;
    text-align: center;
    max-width: 175px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
  }
  .sliderImg{
    width: 165px;
    height: 195px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  .genres{
    width: 285px;
    margin: 10px auto;
    display: grid; 
    grid-template-columns: repeat(3, 90px);
    gap: 10px;
    text-align: center;
  }
  .genre{
    align-items: center;
  }
}









