.container{
  color: white;
  width: 100%;
  margin: 0 auto;
}
.containMenu{
  display: flex;
  background-color: rgb(43, 43, 43);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  padding: 5px 0;
  align-items: center;
}
.left{
  width: 300px;
  padding-left: 28px;
}
.right{
  width: 100%;
  padding-left: 100px;
}
.homeContainer{
  display: flex;
  align-items: end;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.homeContainer:hover{
  color: rgb(255, 179, 0);
}
.homeIcon{
  font-size: 25px;
  margin-right: 3px;
  margin-left: 5px;
}
.types{
  display: flex;
}
.type{
  margin-right: 20px;
  padding: 2px 12px;
  cursor: pointer;
  border-bottom: 1px solid rgb(43, 43, 43);
}
.typeActive{
  margin-right: 20px;
  padding: 2px 12px;
  border-bottom: 1px solid rgb(255, 179, 0);
  color: rgb(255, 179, 0);
  cursor: pointer;
}
/* @media (max-width: 320px){

} */
@media (max-width: 375px){
  .left{
    width: 80px;
    padding-left: 10px;
    align-items: center;
    font-size: 15px;
  }
  .right{
    width: 100px;
    padding-left: 30px;
    font-size: 16px;
  }
  .type{
    margin-right: 15px;
    padding: 2px 7px;
    cursor: pointer;
    border-bottom: 1px solid rgb(43, 43, 43);
    font-size: 15px;
  }
  .typeActive{
    margin-right: 15px;
    padding: 2px 7px;
    border-bottom: 1px solid rgb(255, 179, 0);
    color: rgb(255, 179, 0);
    cursor: pointer;
    font-size: 15px;
  }
}